<footer class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="footer-top__inner">
        <a class="logo" href="#!">
          <img class="logo__img" src="../images/logo.svg" alt="logo">
        </a>
        <div class="socials">
          <a class="socials__link facebook" href="#!">
            <svg class="icons-facebook">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a class="socials__link instagram" href="#!">
            <svg class="icons-instagram">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
          <a class="socials__link vkontakte" href="#!">
            <svg class="icons-vkontakte">
              <use xlink:href="#vkontakte"></use>
            </svg>
          </a>
          <a class="socials__link youtube" href="#!">
            <svg class="icons-youtube">
              <use xlink:href="#youtube"></use>
            </svg>
          </a>
          <a class="socials__link telegram" href="#!">
            <svg class="icons-telegram">
              <use xlink:href="#telegram"></use>
            </svg>
          </a>
          <a class="socials__link whatsapp" href="#!">
            <svg class="icons-whatsapp">
              <use xlink:href="#whatsapp"></use>
            </svg>
          </a>
        </div>
        <a class="btn-up" href="#wrapper">
          <svg class="icons-up">
            <use xlink:href="#up"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__content">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__title">
          <span>Жоба туралы</span>
          <br>
          <span>РЕДКОЛЛЕГИЯ / РЕДАКЦИЯ</span>
        </div>
        <div class="footer__text">
          © 2018-2023 «Мәдениет порталы» АА - Қазақстан Республикасының мәдени мұрасын заңды түрде бір жерге жинақтайтын
          және тұрақты түрде насихаттайтын ағартушылық бағыттағы бірден-бір мәдени платформа. Бұл желі ресурсының
          ақпараттық
          өнімдері 18 жастан асқан азаматтарға арналған. ҚР Ақпарат және коммуникациялар министрлігінің № 170589 - ИА
          куәлігі берілген. Email: madeniportal@gmail.com
        </div>
        <div class="footer__menu footer__menu-1">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Әдебиет  
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Театр 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Музей 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Кітапхана 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Музыка 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Кино 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Бейнелеу өнері 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Салт-дәстүр 
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Туризм 
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__menu footer__menu-2">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Жаңалықтар
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Мақалалар
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Авторлар
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Сұхбаттар
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Кітаптар
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#!">
                Конкурс
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <span class="footer__item-text">
            Создание сайта:
          </span>
          <a class="footer__item-link" href="#!">
            <img class="footer__item-img" src="../images/logo-team28.svg" alt="Team28">
          </a>
        </div>
        <div class="footer__tags">
          <span class="footer__tags-title">Теги:</span>
          <ul class="footer__tags-list">
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #кітапхана
              </a>
            </li>
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #астана
              </a>
            </li>
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #кино
              </a>
            </li>
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #кино
              </a>
            </li>
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #астана
              </a>
            </li>
            <li class="footer__tags-item">
              <a class="footer__tags-link" href="#!">
                #кітапхана
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__metrika">
          <img class="footer__metrika-img" src="../images/metrika.png" alt="">
          <img class="footer__metrika-img" src="../images/metrika.png" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="libs/swiper/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>