<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>madeniprotal</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper" id="wrapper">
    <div class="burger">
      <div class="burger__overlay">
        <div class="burger__menu">
          <div class="burger__head">
            <button class="burger__close">
              <span class="burger__close-line"></span>
              <span class="burger__close-line"></span>
            </button>
          </div>
          <div class="burger__content">
            <div class="nav">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    ЖАҢАЛЫҚТАР
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    АЙМАҚТАР
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    АВТОРЛАР
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    СҰХБАТТАР
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    ОНЛАЙН-КОНКУРСТАР
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    MADENI TV
                    <svg class="icons-arrow-angle">
                      <use xlink:href="#up"></use>
                    </svg>
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <ul class="burger__list">
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">ӘДЕБИЕТ</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">ТЕАТР</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">МУЗЕЙ</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">КІТАПХАНА</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">МУЗЫКА</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">КИНО</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">Бейнелеу өнері</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">Салт-дәстүр</a>
              </li>
              <li class="burger__list-item">
                <a class="burger__list-link" href="#!">Туризм</a>
              </li>
            </ul>
          </div>
          <div class="burger__bottom">
            <div class="socials">
              <a class="socials__link facebook" href="#!">
                <svg class="icons-facebook">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a>
              <a class="socials__link instagram" href="#!">
                <svg class="icons-instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a>
              <a class="socials__link vkontakte" href="#!">
                <svg class="icons-vkontakte">
                  <use xlink:href="#vkontakte"></use>
                </svg>
              </a>
              <a class="socials__link youtube" href="#!">
                <svg class="icons-youtube">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
              <a class="socials__link telegram" href="#!">
                <svg class="icons-telegram">
                  <use xlink:href="#telegram"></use>
                </svg>
              </a>
              <a class="socials__link whatsapp" href="#!">
                <svg class="icons-whatsapp">
                  <use xlink:href="#whatsapp"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header">
      <div class="header__inner">
        <div class="topbar">
          <div class="container">
            <div class="topbar__inner">
              <div class="language">
                <button class="language__btn language-active">
                  <span>QAZ</span>
                </button>
                <button class="language__btn">
                  <span>RUS</span>
                </button>
                <button class="language__btn">
                  <span>ENG</span>
                </button>
              </div>
              <a class="logo" href="#!">
                <img class="logo__img" src="../images/logo.svg" alt="logo">
              </a>
              <div class="search">
                <input class="topbar-search-input" type="text" placeholder="Іздеу">
                <button class="search__btn">
                  <svg class="icons-search">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <nav class="nav">
          <div class="container">
            <div class="nav__inner">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    ЖАҢАЛЫҚТАР
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    АЙМАҚТАР
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    АВТОРЛАР
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    СҰХБАТТАР
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    ОНЛАЙН-КОНКУРСТАР
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#!">
                    MADENI TV
                  </a>
                  <ul class="dropdown__list">
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Жаңалықтар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Мақалалар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Авторлар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Сұхбаттар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Кітаптар</a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#!" class="dropdown__link">Конкурс</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <button class="burger__open" id="burgerBtn">
                <span></span>
              </button>
            </div>
          </div>
        </nav>
        <div class="header-bottom">
          <div class="container">
            <div class="header-bottom__inner">
              <ul class="header-bottom__list">
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    ӘДЕБИЕТ
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    ТЕАТР
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    МУЗЕЙ
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    КІТАПХАНА
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    МУЗЫКА
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    КИНО
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    Бейнелеу өнері
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    Салт-дәстүр
                  </a>
                </li>
                <li class="header-bottom__item">
                  <a class="header-bottom__link" href="#!">
                    Туризм
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </header>