.hero-news {
  margin-bottom: 30px;

  &__inner {
    display: flex;
    gap: 20px;
  }
}

.news__sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 310px;
  width: 100%;

  &-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-head {
    display: flex;
    align-items: center;
    gap: 15px;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 16px;
      background: #7C828B;
      opacity: 0.4;
      position: relative;
      order: 2;
    }
  }

  &-tags {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    order: 1;
  }

  &-date {
    order: 3;
  }

  &-link {
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #272C31;
  }
}

.news__box {
  display: flex;
  gap: 20px;

  &-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 310px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-head {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-img {
    display: block;
    aspect-ratio: 310/200;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &-date {
    opacity: 1;
  }

  &-title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #272C31;
  }

  &-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #7C828B;
    max-width: 538px;
  }
}

.news__box-big {
  max-width: 640px;

  .news__box-head {
    gap: 0;
    margin-bottom: 22px;
  }

  .news__box-images {
    margin-bottom: 14px;
  }

  .news__box-date {
    margin-bottom: 10px;
  }

  .news__box-content {
    gap: 0;
  }

  .news__box-content>span {
    margin-bottom: 20px;
  }

  .news__box-text {
    font-size: 20px;
  }

  .news__box-title {
    font-size: 40px;
    line-height: 50px;
  }
}

.news-row {
  margin-bottom: 50px;


  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__items {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-head {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &__img {
    display: block;
    aspect-ratio: 310/200;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__date {
    opacity: 1;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #272C31;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #7C828B;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 60px;
    background-color: #F2F5FA;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #272C31;

    &-img {
      width: 36px;
      height: auto;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
}

.articles {
  background-color: #272C31;
  margin-bottom: 60px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    max-width: 970px;
    width: 100%;
    height: fit-content;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: calc(33% - 13.33px);
    height: auto;
  }

  &__content {
    display: flex;
    gap: 19px;
    padding: 16px;
    background-color: #1C1F21;
  }

  &__img {
    width: 83px;
    height: 83px;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-date {
      color: #fff;
    }

    &-title {
      font-family: 'Merriweather', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

.articles-head {
  padding: 40px 0 20px;
  border-bottom: 1px solid #7C828B;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
  }
}

.articles-body {
  padding: 50px 0 72px;

  .news__sidebar {
    max-width: 268px;
  }

  .news__sidebar-date {
    color: #FFFFFF;
  }

  .news__sidebar-link {
    color: #FFFFFF;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}

.banner {
  margin-bottom: 60px;

  &__slider {
    position: relative;
  }

  .swiper-pagination {
    position: absolute;
    top: 18px;
    right: 24px;
    left: unset;
    width: fit-content;
    height: fit-content;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FF9416;
  }

  &__item {
    display: flex;
    background-color: #F2F5FA;
  }

  &__img {
    width: calc(50% - 10px);
    height: auto;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 18px 39px 15px 40px;
  }

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF9416;
    margin-bottom: 7px;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #272C31;
    margin-bottom: 11px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FF9416;

    svg {
      fill: #FF9416;
    }
  }
}

.interview {
  margin-bottom: 60px;

  &__inner {
    position: relative;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }

  &__slider {
    .swiper-pagination {
      position: relative;
      margin-top: 30px;
    }

    .swiper-pagination-bullet-active {
      background: #3A87CA;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 18px 40px;
    color: #FFFFFF;
    text-align: center;
    background-color: #3A87CA;
  }

  &__img {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .line-w {
    width: calc(100% - 25px);
  }

  &__text {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
}

.tv {
  margin-bottom: 60px;
  color: #FFFFFF;

  &__inner {
    padding: 40px;
    background: #272C31;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__body {
    position: relative;
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    background: #FFFFFF;

    svg {
      fill: #272C31;
    }
  }

  .swiper-button-disabled {
    opacity: 1;
  }

  &__btn-prev {
    left: 0;
  }

  &__btn-next {
    right: 0;
  }

  &__slider {
    margin: 0 90px;
    overflow: hidden;

    .swiper-wrapper {
      margin-bottom: 25px;
    }

    .swiper-pagination {
      position: relative;
    }

    .swiper-pagination-bullet {
      background: #7C828B;
    }

    .swiper-pagination-bullet-active {
      background: #FF9416;
    }
  }

  &__item {
    background: #1C1F21;
  }

  &__video {
    position: relative;

    &-media {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &-play {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      background: #fff;
      border-radius: 50%;

      svg {
        margin-left: 3px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 20px 20px;
    color: #fff;

    &-date {
      color: #fff;
    }
  }
}

.popular {
  margin-bottom: 100px;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }

  &__slider {
    width: calc(100% + 6px);
    padding: 0 3px;

    .swiper-wrapper {
      max-width: 1300px;
      margin-bottom: 35px;
    }

    .swiper-pagination {
      position: relative;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #FF9416;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &-body {
      display: flex;
      flex-direction: column;
      padding: 15px 20px 30px;
    }

    &-date {
      opacity: 1;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 5px;
    }

    &-title {
      font-family: 'Merriweather', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #272C31;
      margin-bottom: 10px;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #7C828B;
    }

    span {
      margin-bottom: 10px;
    }
  }

  &__img {
    display: block;
    aspect-ratio: 310/200;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}