.search {
  margin: 26px 0 100px;

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &-title {
      font-family: 'Merriweather', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__block {
    position: relative;
    max-width: 640px;
    width: 100%;
    margin-bottom: 20px;

    &-input {
      width: 100%;
      padding: 11px 43px 12px 20px;
      background: #F2F5FA;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #272C31;
    }

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 9px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: calc(25% - 15px);
    border-top: 4px solid #32B990;

    &-body {
      display: flex;
      flex-direction: column;
      padding: 15px 20px 30px;
    }

    &-date {
      opacity: 1;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 5px;
    }

    &-title {
      font-family: 'Merriweather', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #272C31;
      margin-bottom: 10px;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #7C828B;
      margin-top: 10px;
    }
  }

  &__img {
    display: block;
    aspect-ratio: 310/200;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}